*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
}


:root{
    --background-color: #e85c35;
    --secondary-color: #f0f0f0;
    --third-color:#f76159;
    --background-image: url(images/sunset-desktop-wallpaper-1.jpg);
    --love-color: #fefff5;
    --healing-color:#fefff5;
    --Anger-color:#fefff5;
    --Peace-color: #fefff5;
    --Fear-color: #fefff5; 
    --border-radius: 10px;
}



.bx-menu{
    display: flex;
    align-items: center;
    justify-content: center;

}



.navlist.menu-open li {
    display: block;
    z-index: 100000;
}

#menu-icon {
    font-size: 35px;
    color: #f0f0f0;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}



.navlist li :hover {
    text-decoration: underline ;
    


}

.logo {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}


span {
    color: var(--background-color);
}

.navlist {
    display: flex;
}


.verse-container {
    background-color: #e85c35;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.btn-container1 {
    background-color:#f0f0f0;
    padding: 10px;
    
    border-radius: 10px;
    
}
body{
    font-family: Arial, sans-serif;
    background-image: url(images/sunset-desktop-wallpaper-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* take up 90vh of the height */
     

}

h1 {
 color: white; 
 font-family: "Protest Guerrilla", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 3.5rem;
 padding: 15px;
}

h3{
    color: white;
    padding-bottom: 20px;
}


.author-container{
    display: flex;
    align-items: center;
    justify-content: end;

}


p{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;    
}

.btn-container1 #New-Verse {
    border-radius: 10px;
    width: 250px;
    height: 39px;
    font-size: 1.3rem;

}



.btn-container1{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 5%;
}

.btn-container1 #New-Verse:hover {
    transform: scalex(0.889879);
    
}

.btn-container1 #Share-Verse:hover{
    transform: scalex(0.889879);
}


.btn-container1 #Share-Verse {
    border-radius:var(--border-radius);
    width: 250px;
    height: 39px;
    font-size: 1.3rem;
    
}

.first-btn{
    color: white                ;
    background-color: #e85c35;
    cursor: pointer;


}

.second-btn {
    color: white;
    background-color: #e85c35;
    cursor: pointer;
}

.verse-container{
    
    max-width: 40vw;
    max-height: 60vh;
    width: fit-content;

}


 .fa-forward{
    font-size: 1.3rem;
}

 .fa-x-twitter {
    font-size:1.3rem ;

}
 .Home {
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    padding-right: 50px;
}

header.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid var(--background-color);
    padding: 12px 15%;
}


.navlist  {
    display: flex;
    list-style: none;

}


.navlist li a {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
    text-decoration: none;
    cursor: pointer;
}

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--background-color);
}

.last-text p {
    color: var(--secondary-color);
    font-size: 16px;
}

.top i {
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--background-color);
    background: var(--secondary-color);

}

.top i:hover{
    color: #fefff5;

}


/* media queries */
@media (max-width:840px) {
    #menu-icon {
        display: block;
        
    }

        .logo {
            color: var(--secondary-color);
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 1px;
            text-decoration: none;
        }

    .navlist {
        
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        transition: all .45s ease;
        background-color: rgba(240, 68, 53, 0.9);
        padding: 20px;
           
            
        }

        

    }
        
   .navlist a  {
       
        margin:0 0 10px 0; 
        margin-bottom: 40px;
        transition: all .45s ease;
    
       
    }

        .navlist li a{
            font-size: 18px;
            
        }
    
        .navlist a.active {
            color: white;
        }
    
        .navlist.open {
            top: 100%;
            
        }
        
         h1 {
            font-size: 2.5rem;
            padding: 10px;
        }
         h3 {
            color: white;
            padding-bottom: 20px;
            font-size: 1.2rem;
             }

         .btn-container1 #New-Verse {
            width: 200px;
            font-size: 1rem;
                }

        .btn-container1 #Share-Verse {
            width: 200px;
            font-size: 1rem;
             }

        .fa-forward {
            font-size: 1rem;
            }
                
         .fa-x-twitter {
            font-size: 1rem;
         }


@media screen and (max-width: 480px) {

    

    

    
    h1 {
        font-size: 2rem;
        padding-bottom: 50px;
    }
    
    h3 {
        color: white;
        padding-bottom: 20px;
        font-size: 1rem;
    }
     p{
        font-size: 1rem;

    }
    
    .btn-container1 #New-Verse {
        width: 150px;
        font-size: 0.8rem;
    }
    
    .btn-container1 #Share-Verse {
        width: 150px;
        font-size: 0.8rem;
    }
    
    .fa-forward {
        font-size: 0.8rem;
    }
    
    .fa-x-twitter {
        font-size: 0.8rem;
    }

}