/* style for love */
.fa-heart {
    font-size: 3rem;

}

/* H1  STYLE*/
#Peace {
    color: var(--Peace-color);

}

.btn-container1 #New-Peace-Verse {
    border-radius: var(--border-radius);
    width: 250px;
    height: 39px;
    font-size: 1.3rem;


}

.btn-container1 #New-Peace-Verse:hover {
    transform: scalex(0.889879);

}

.btn-container1 #Share-Peace-Verse:hover {
    transform: scalex(0.889879);
}

.btn-container1 #Share-Peace-Verse {
    border-radius: var(--border-radius);
    width: 250px;
    height: 39px;
    font-size: 1.3rem;
}


/* media queries */
 @media (max-width:840px) {
    #menu-icon {
        display: block;

    }
}

#Peace {
    font-size: 2.5rem;
    padding: 10px;
}

#Peace-verse {
    font-size: 1.2rem;
}

.btn-container1 #New-Peace-Verse {
    width: 200px;
    font-size: 1rem;
}

.btn-container1 #Share-Peace-Verse {
    width: 200px;
    font-size: 1rem;
}

.fa-forward {
    font-size: 1rem;
}

.fa-x-twitter {
    font-size: 1rem;
}


@media screen and (max-width: 480px) {

    #Peace {
        font-size: 2rem;
        padding-bottom: 50px;
    }

    #Peace-verse {

        padding-bottom: 20px;
        font-size: 1rem;
    }

    #Peace-author {
        font-size: 1rem;

    }

    .btn-container1 #New-Peace-Verse {
        width: 150px;
        font-size: 0.8rem;
    }

    .btn-container1 #Share-Peace-Verse {
        width: 150px;
        font-size: 0.8rem;
    }

    .fa-forward {
        font-size: 0.8rem;
    }

    .fa-x-twitter {
        font-size: 0.8rem;
    }

}